<!DOCTYPE html>
<html lang="en">
<head>
<title>Tasteful - my recipe books</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css'>
<link rel="stylesheet" href='./index.css'>
</head>
<body>
	<header class='container-fluid'>
		<nav class="navbar navbar-expand navbar-light bg-light col-md-10 offset-md-1">
		  <div class="collapse navbar-collapse">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item loginToggle">
		     	<a class="nav-link loginLink" href="#">
		     		Welcome! {{username}}
		    	</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link recipebookLink" href="/recipe-books">My recipebook</a>
		      </li>
		      <li class="nav-item">
		      	<a class="nav-link logoutLink" href="#">Logout</a>
		  	  </li>
		    </ul>
		  </div>
		</nav>

		<h1 class='h1 text-center'>Tasteful</h1>
		<p class='lead text-center'>Make. Enjoy. Share.</p>
	</header>

	<main class='container-fluid'>
    <header class="row text-center">
      <h1 class="h2">My Recipe Books</h1>
    <header>

		<section class='booksSummary row col-12 col-md-10 offset-md-1 text-left'>
			<p>You have {{bookCount}} recipe books!</p>
		</section>
		
		<section class='booksResults row align-center col-12 col-md-10 offset-md-1'>
			{{#each bookList}}
				<div class="card align-center col-12 col-sm-6 col-md-4 col-lg-3 " style="width: 18rem;" data-recipeApiId={{id}}>
					<img class="card-img-top" src="http://res.cloudinary.com/rollercoaster/image/upload/v1527180406/193308-OXWPEW-70_1_1.jpg" alt="recipe book cover photo">
				    <div class="card-body">
				    	<p class="card-title h5">{{name}}</p>
				    	<p class="card-text">contains {{numberOfRecipes}} recipes</p>
				        <div class="card-text bookDescription-container">
              				<span>Description: </span>
              				{{description}}
            			</div>
            			<div class="addTag">
                			<button>Add tag</button>
                		</div>
					</div>
				</div>
			{{/each}}
		</section>		
		
	</main>

	<footer></footer>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>	
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js'></script>
	<script src='./recipe-books.js'></script>
</body>
</html>
