<!DOCTYPE html>
<html lang="en">
<head>
<title>Tasteful - my recipe books</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css'>
<link rel="stylesheet" href='./recipe-books-book.css'>
</head>
<body>
	
	<header class='container-fluid'>
		<nav class="navbar navbar-expand navbar-light bg-light col-md-10 offset-md-1">
		  <div class="collapse navbar-collapse">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item loginToggle">
		     	<a class="nav-link loginLink" href="#">
		     		Login/Signup
		    	</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link recipebookLink" href="/recipe-books">My recipebook</a>
		      </li>
		      <li class="nav-item">
		      	<a class="nav-link logoutLink" href="#">Logout</a>
		  	  </li>
		    </ul>
		  </div>
		</nav>

		<h1 class='h1 text-center'>Tasteful</h1>
		<p class='lead text-center'>Make. Enjoy. Share.</p>
	</header>

	<main class='container-fluid'>
    <header class="row text-center">
      <h1 class="h2">My Recipe Books - {{bookTitle}}</h1>
    <header>

		<section class='booksSummary row col-12 col-md-10 offset-md-1 text-left'>
			<p>There are {{recipesCount}} recipes in the book</p>
		</section>
		
		<section class='searchResults row align-center col-12 col-md-10 offset-md-1'>
			{{#each recipes}}
				<div class="card align-center col-12 col-sm-6 col-md-4 col-lg-3 " style="width: 18rem;" data-recipeApiId={{id}}>
				    <img class="card-img-top" src="https://spoonacular.com/recipeImages/{{image}}" alt="photo of {{title}}">
				    <div class="card-body">
				    	<p class="card-title h5">{{title}}</p>
				    	<p class="card-text">Ready in {{readyInMinutes}} minutes</p>
				    	<p>Serves {{servings}} people</p>
				  </div>
				</div>
			{{/each}}
		</section>	

		<!-- display recipe details in lightbox -->
		<div id='lightbox-container'></div>
		
	</main>
	<footer></footer>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>	
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js'></script>
	<script src='./recipe-books-book.js'></script>
</body>
</html>
