<!DOCTYPE html>
<html lang="en">
<head>
<title>Tasteful - my recipe books</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href='./recipe-books.css'>
</head>
<body>
	<header class='container-fluid'>
		<nav class="navbar navbar-expand navbar-light bg-light col-md-10 offset-md-1">
		  	<div class="collapse navbar-collapse">
			    <ul class="navbar-nav ml-auto">
				    <li class="nav-item header-username-template-container">
				    <script id="header-username-template" type="text/x-handlebars-templates">
				        <p class="nav-link">Welcome! \{{userLoggedIn}}</p>
			      	</script>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link recipebookLink" href="/recipe-books">My recipebook</a>
			      	</li>
			      	<li class="nav-item">
			      		<a class="nav-link logoutLink" href="/auth/logout/protected">Logout</a>
			  	  	</li>
			    </ul>
		  	</div>
		</nav>
		<h1 class='pageHeader h1 text-center'><a href="/">Tasteful</a></h1>
		<p class='lead text-center'>Make. Enjoy. Share.</p>
	</header>

	<main class='container-fluid'>
	
	    <header class="row col-12 col-md-10 offset-md-1 align-center">
	      <h1 class="h3 alig-center">My Recipe Books</h1>
	    <header>

		<section class='books-summary row col-12 col-md-10 offset-md-1 text-left'>
			<p>You have <span class='book-count'>{{bookCount}}</span> recipe books!</p>
		</section>

		<section class='booksResults row align-left col-12 col-md-10 offset-md-1'>
			{{#each bookList}}
			<div class="card align-left col-12 col-sm-6 col-md-4 col-lg-3 " style="width: 18rem;" data-bookId={{id}}>
				<a href='recipe-books/book?bookId={{id}}' data-bookId={{id}}>
					<img class="card-img-top" src="http://res.cloudinary.com/rollercoaster/image/upload/v1527180406/193308-OXWPEW-70_1_1.jpg" alt="recipe book cover photo">
				</a>
			    <div class="card-body">
			    	<a href='recipe-books/book?bookId={{id}}' data-bookId={{id}}>
			    		<p class="card-title h5 bookName">{{name}}</p>
			    	</a>
			    	<p class="card-text">contains {{contains}}</p>
			        <p class="card-text bookDescription-container">description: 
			        	<span class="bookDescription"contenteditable="true">{{description}}</span>
			        </p>
			        <button class='btn card-delete-book-btn'>delete book</button>
				</div>
			</div>
			{{/each}}
			<div class="card align-center add-new-book-div col-12 col-sm-6 col-md-4 col-lg-3 " style="width: 18rem;">
			    <img src='' class='card-img-top' aria-hidden="true">
			    <div class="card-body">
				    <p class="card-title h5">Add new book</p>
				    <form class='card-add-new-book-form'>
					    <label for='card-add-new-book-name'>Name</label>
					    <input type='text' id='card-add-new-book-name' required>
					    <label for='card-add-new-book-description'>description</label>
					    <input type='text' id='card-add-new-book-description'>
					    <button type='submit'>Create new book</button>
				    </form>
				    <p class='remainder'></p>
			    </div>
			</div>
		</section>	
		
		<div id='login-modal-container' hidden>
			<h1 class="h5">Login/Signup to explore more</h1>
		    <form class="login-form" onsubmit={return false;}>
				<fieldset>
				<label for="loginUsername">Username</label>
			 	<input id="loginUsername" class='login-username' type="text" class="form-control" required>
			 	<label for="loginPassword">Password</label>
			 	<input id="loginPassword" class='login-password' type="text" class="form-control" required>
			 	</fieldset>
			 	<button type="submit" class="loginBtn btn btn-primary">Log in</button>
			 	<button class="btn signupBtn">Sign up</button>
			</form>			
		</div>

	</main>

	<footer></footer>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js'></script>	
	<script src='./recipe-books.js'></script>
</body>
</html>
